header {
    background: #A7C957;
    height: 70px;
    color: #333333;
}

header h1 {
    font-family: "Alegreya SC", serif;
    font-size: 30px;
    font-weight: bold;
}

header nav {
    font-family: "Schibsted Grotesk", sans-serif;
    font-weight: bold;
    font-size: 20px;
}